$font-size: 20px;
$button-color: rgb(61, 36, 119);
$label-color: rgb(136, 130, 130);
$input-color: lighten($label-color, 20%);
$bRadius: 5px;
$max-width: 430px;
$input-border: solid 0.5px $input-color;

@mixin button() {
    background-color: $button-color;
    color: white;
    font-size: 1.5 * $font-size;
    padding: 10px 20px;
    margin: 10px;
}

@mixin border($border: solid 2px $button-color) {
    border: $border;
    border-radius: $bRadius;
	-moz-border-radius: $bRadius;
    -webkit-border-radius: $bRadius;
}

@mixin hover() {
    cursor: pointer;
    background-color: saturate($button-color, 80%);
}

@mixin width() {
    width: 90%;
    display: flex;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    margin: 0;
    text-align: center;
}

#container {
    max-width: $max-width;
    margin: auto;
}

.inputs {
    @include width();
    justify-content: space-evenly;
    min-height: 80px;
    & div {
        width: 10%;
        flex-direction: column;
    }
    .input {
        width: 30%;
        input {
            width: 100%;
        }
    }
    .signs {
        display: flex;
        justify-content: center;
        & div {
            width: 100%;
            padding-left: 7px;
        }
    }
    .result {
        @extend .signs;
        & div {
            text-align: left;
        }
    }
}

label {
    font-size: 0.7 * $font-size;
    color: $label-color;
}

input {
    @include border($input-border);
    padding: 7px;
}

button {
    @include button();
    @include border();
    &:hover {
        @include hover();
    }
    span {
        position: relative;
        top: 7px;
    }
}

#comment {
    @include width();
    padding-bottom: 20px;
    font-size: 0.8 * $font-size;
    font-weight: 550;
    color: red;
}

.no-input {
    border-color: red;
}